.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 20px;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }
}