.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8ebe6;
  margin-top: -5px;
  height: 150px;

  .icon-container {
    display: flex;
  }

  .social-icon {
    padding: 0 8px;
  }

  img {
    width: 45px;
  }
}